* {
    box-sizing: border-box;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    margin-top: 100px;
}

header {
    background-color:antiquewhite;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}


nav {
    float: left;
    width: 30%;
    background-color: #ccc;
    height: 200px;
}

nav ul {
    list-style-type: none;
}

article {
    float: left;
    padding: 1.5rem;
    width: 70%;
    background-color: #f1f1f1;
    height: 200px;
}

footer {
    display: flex;
    background-color: antiquewhite;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}